@charset "utf-8";

/* reset css */
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top; max-width: 100%;}
button{cursor: pointer;}
body {background: #fff; color: #333;}

.wrap {position: relative;}
.inner {width: 1200px; margin: auto;}
.header {position: relative; height: 100px; background: #fff; padding-top: 35px; padding-left: 10px;}
.header>h1>a>img {height: 40px;}
.header>nav {position: absolute; top: 40px; right: 10px; z-index: 10;}
.header>nav>ul {display: flex;}
.header>nav>ul>li>a {display: block; width:120px; text-align: center; font-weight: bold; padding: 10px; background: #3d155f; color: #fff;}
.header>nav>ul>li:hover>a {background: #f96167;}
.sub {display: none;}
.sub>li>a {display: block; background: #fff; padding: 5px; text-align: center; font-size: 14px;}
.sub>li:hover>a {background: #3d155f; color: #fff;}

.slide {height: 300px; overflow: hidden;}
.slide ul {display: flex; width: 3600px;}
.slide ul li {width: 1200px; height:300px; position: relative;}
.slide ul li a {display: block; height: 100%;}
.slide ul li.s1 {background: url(../images/s1.jpg) no-repeat center/cover;}
.slide ul li.s2 {background: url(../images/s2.jpg) no-repeat center/cover;}
.slide ul li.s3 {background: url(../images/s3.jpg) no-repeat center/cover;}
.slide ul li h2 {background: rgba(61,21,95,0.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border-radius: 50px; font-size: 28px; color: #fff;}
.slide ul li h2 span {color: #f96167;}

.contents {height: 200px; display: flex;}
.contents article {width: 400px;}
.contents .notice {padding: 10px;}
.notice h2 {background: #3d155f; color: #fff; border-radius: 10px 10px 0 0; width: 120px; text-align: center; padding: 5px 0; font-size: 20px;}
.notice ul {background: #3d155f; padding: 5px 15px;}
.notice ul li {border-bottom: 1px dashed #fff;}
.notice ul li:last-child {border-bottom: none;}
.notice ul li a {position: relative; display: block; padding: 5px 0; color: #fff;}
.notice ul li p {width: 260px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice ul li span {position: absolute; top: 5px; right: 0;}

.contents .gallery {padding: 10px;}
.gallery h2 {background: #3d155f; color: #fff; border-radius: 10px 10px 0 0; width: 120px; text-align: center; padding: 5px 0; font-size: 20px;}
.gallery ul {display: flex; padding: 10px; background: #f96167; gap: 10px;}
.gallery ul li img {width: 120px; height: 120px; object-fit: cover;}
.gallery ul li:hover {opacity: 0.7;}

.contents .go {padding: 10px; background: #eee;}
.go h2 {color: #3d155f; margin-bottom: 20px; }
.go ul {display: flex; gap: 20px; justify-content: center;}
.go ul li {text-align: center;}
.go ul li a {display: block; height: 100%;}
.go ul li p {width: 80px; height: 80px; background: #3d155f; padding-top: 10px; border-radius: 20px; margin-bottom: 5px;}
.go ul li p img {width: 60px; height: 60px;}
.go ul li span {font-weight: bold; }

.footer {position: relative; height: 100px; background: #aaa; color: #fff; padding-left: 20px; display: flex; gap: 30px; align-items: center;}
.flogo img {width: 40px; height: 40px;}
.fsns {position: absolute; top: 35px; right: 30px; display: flex; gap: 10px;}
.fsns img {width: 30px; height: 30px;}
.fsns li a {display: block; width: 30px; height: 30px; background: #fff; border-radius: 50%; text-align: center;}
.fsns li:nth-child(1) a {background: #3f5b9a;}
.fsns li:nth-child(2) a {background: #47b749;}
.fsns li:nth-child(3) a {background: red;}

.popup {position: absolute; width: 500px; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; text-align: center; border-radius: 20px; border: 2px solid #f96167; padding: 20px; display: none; z-index: 9999;}
.popup h2 {color: #f96167; margin-bottom: 20px;}
.popup .text {margin: 20px 0;}
.popup .close {text-align: right;}
.popup .close button {background: #f96167; border: 0; padding: 10px; color: #fff;}
.popup .close button:hover {background: #3d155f;}